.main_up {
    width:100%;
    margin:0px auto 100px auto;
}

.main_down {
    width:100%;
    margin:0px auto 0px auto;
}

.reseaux_left {
    position:absolute;
    left:50px;
    top:40px;
}

.reseaux_right {
    position:absolute;
    right:50px;
    top:40px;
}

.reseaux_left img, .reseaux_right img {
    padding:15px;
}

.reseaux_left a:visited, .reseaux_right a:visited {
        color: inherit;
}

.logo {
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    left: 43%;
}

.logo a {
    text-decoration:none;
    font-family: 'Amatic SC', cursive;
    color:white;
    font-size:180px;
    text-align:center;
}

.nav {
    height:70px;
    background: rgba(85, 85, 85, 0.7);
    position:fixed;
    bottom: 5px;
    width:100%;
    margin:0;
    padding:0;
}

.nav ul {
    list-style-type: none;
    position:absolute;
    text-align:center;
    left:5%;
    right:15%;
}

.nav li {
    display:inline;
    padding:55px;
}

.nav a {
    text-decoration:none;
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:27px;
    font-weight: 200;
}

.flags {
    float:left;
    margin:0;
    padding:0;
}

.flags a {
    margin: 15px 15px 0px 0px;
    position:absolute;
    right: 58px;
}

.nav a:active {
    color:grey!important;
}

.nav .active a {
    color: grey;
}

body {
    background : #000000
}

.title {
    border-bottom: solid;
    border-bottom-color: white;
    position:absolute;
    top: 300px;
    left: 65px;
    width:100px;
}

.title p {
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:40px;
    font-weight: 200;
}

.background img {
    width: 100%;
    height: auto;
}

.content {
    padding-bottom: 300px;
}

.content h1 {
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:20px;
    font-weight: 100;
    transform: rotate(-90deg);
}

.content ul {
    list-style-type: none;
}

.content li {
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:17px;
    font-weight: 100;
}

#block2, #block4 {
    padding-bottom:100px;
}

#block1 {
    position:absolute;
    left:50px;
    top: 70%;
    float:left;
}

#block3 {
    position:absolute;
    left:50px;
    top: 120%;
}

#block2 {
    position:absolute;
    left:50%;
    top: 120%;
}

#block4 {
    position:absolute;
    left:50%;
    top: 70%;
}

.content table {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 70%;
    bottom: 200px;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.content th, td {
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

.content table a {
    text-decoration: none;
    border: double white;
    padding: 5px;
}

.content table a:hover, .content table a:visited, .content table a:active {
    color: white;
}

.content table a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.section-video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.contact a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.contact a:visited, .contact a:active {
    color: white;
}

.contact a:hover {
    color: grey;
}

.contact p, .gallery p {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.contact img {
    margin: 8px;
}

.contact h1 {
    position: absolute;
    left:50px;
    top: 70%;
}

.gallery iframe {
    position: relative;
    left:25%;
}

/* Gallery (as seen on www.ko-ko-mo.com*/

ul.shots{
    margin-bottom: 8px;
    text-align: center;
}

ul.shots li{
    display: inline-block;
    margin: 0px 24px 24px 0px;
}

.ie7 ul.shots li{
    display: inline;
    zoom: 1;
}

ul.shots li.line_end {
    margin-right: 0;
}

.ie7 ul.shots li.line_end{
    margin-right: 0;
}

ul.shots li img{
    border: 0px solid #000000;
    padding: 0px;
    height:350px;
    opacity: 0.8;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
ul.shots li img:hover{
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}